.main {
    max-width: 1440px;
    width: 100vw;
    max-height: fit-content;
    min-height: 100vh;
    background: #FFFFFF;
    //border: 2px solid rgba(0, 128, 0, 0.278);
    margin: 0 auto 0;
    //color: rgba(114, 0, 0, 0.878);
    
    .container {
    width: 1200px;
    min-height: 100vh;
    height: 100%;
    margin: 0 auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: nowrap column;
        h3{
            font-size: 32px;
            line-height: 40px;
            text-align: center;
            color: #a58783;
        }
        .cat{
            //border: 2px solid blue;
            width: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding-bottom: 64px;

            .block {
                padding: 0;
                width:fit-content;
                //border: 2px solid green;
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                letter-spacing: 0.1px;
                color: rgba(179, 163, 161, 0.75);
                    li:not(:last-child){
                        margin-right: 24px;
                    }

                    .active{
                        font-weight: 600;
                        color: rgba(126, 102, 98, 0.678);
                    } 

                }
            }


            .cartContainer{
                background: #B3A3A1;
                display: flex;

                padding: 128px 158px;
                max-width: 1440px;
                width: 1440px;
                justify-content: center;
                align-items: center;
                padding: 128px 0;

                .itemsContainer{
                    display: flex;
                    max-width: 867px;
                    width: 100%;
                    //height: 380px;
                    //justify-content: center;
                    align-items: center;
                    overflow: scroll;
                    margin-right: 20px;

                    .cartItem{
                        max-width: 264px;
                        width: -moz-fit-content;
                        width: fit-content;
                        //max-height: 264px;
                        height: 100%;
                        //margin-bottom: 48px;
                        height: 380px;
                        //border: 2px solid green;
                        &:not(:last-child){
                            margin-right: 24px;
                        }
                        .img{
                            height: 264px;
                            width: 264px;
                            //border: 2px solid violet;
                            background-color: #fff;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: contain;

                            }

                        }
                        .buttons {
                            color: #fff;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
    
                            .fav {
                                margin-right: 60px;
                                cursor: pointer;
                            }
    
                            .remove {
                                margin-left: 60px;
                                cursor: pointer;
                            }
                            
                            .minus, .plus {
                                width: 20px;
                                height: 20px;
                                border: 1px solid #fff;
                                border-radius: 30px;
                                color: #fff;
                                font-size: 23px;
                                line-height: 0.6;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                cursor: pointer;
                            }
                        }
                    }

                }

                
            }

            .orderContainer {
                min-height: 332px;
                width: 264px;
                //border: 2px solid yellow;
                color: #fff;
                height: fit-content;
                h3{
                    color: #fff;
                }

                
                .button {
                    border: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 16px 76px;
                    width: 227px;
                    height: 52px;
                    background: #FFE0DB;
                    border-radius: 32px;
                    margin: 32px auto;
                    -webkit-transition: background-color 0.5s ease-out;
                    -moz-transition: background-color 0.5s ease-out;
                    -o-transition: background-color 0.5s ease-out;
                    transition: background-color 0.5s ease-out;
                    &:hover{
                        color: #FFE0DB;
                        background: #494a4a57;
                        cursor: pointer;
                    }
                }
                .orderItem {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 32px;
                    .orderTitle{
                        font-size: 12px;
                        max-width: 168px;
                        width: 100%;
                        text-align: initial;
                    }

                }
            }

            // .recommendationsContainer {
            //     width: 1440px;
            //     height: 815px;
            //     background-color: #fff;
            // }

    }
}
