.main {
  max-width: 1440px;
  width: 100vw;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  min-height: 100vh;
  background: #B3A3A1;
  margin: 0 auto 0;
}
.main .container {
  width: 1200px;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: nowrap column;
}
.main .container h3 {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: white;
}
.main .container .cat {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 64px;
}
.main .container .cat .block {
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  color: rgba(179, 163, 161, 0.75);
}
.main .container .cat .block li:not(:last-child) {
  margin-right: 24px;
}
.main .container .cat .block .active {
  font-weight: 600;
  color: rgba(126, 102, 98, 0.678);
}
.main .container .window {
  height: 100%;
  max-width: 860px;
  overflow: hidden;
}
.main .container .cartContainer {
  position: relative;
  background: #B3A3A1;
  display: flex;
  padding: 128px 158px;
  max-width: 1440px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.main .container .cartContainer .arrow {
  position: absolute;
  top: 42%;
  right: 25%;
  z-index: 6;
  cursor: pointer;
}
.main .container .cartContainer .arrowRight {
  position: absolute;
  left: -2.5%;
  top: 42%;
  z-index: 6;
  cursor: pointer;
}
.main .container .cartContainer .itemsContainer {
  display: flex;
  max-width: 867px;
  width: 100%;
  align-items: center;
  margin-right: 20px;
  transition: translate;
  transition-property: transorm;
  transition-duration: 300ms;
  transition: 0.5s ease-out;
}
.main .container .cartContainer .itemsContainer .cartItem {
  max-width: 264px;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main .container .cartContainer .itemsContainer .cartItem:not(:last-child) {
  margin-right: 24px;
}
.main .container .cartContainer .itemsContainer .cartItem h6 {
  margin: 4px;
}
.main .container .cartContainer .itemsContainer .cartItem .img {
  height: 264px;
  width: 264px;
  background-color: #fff;
}
.main .container .cartContainer .itemsContainer .cartItem .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main .container .cartContainer .itemsContainer .cartItem .buttons {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main .container .cartContainer .itemsContainer .cartItem .buttons .fav {
  margin-right: 60px;
  cursor: pointer;
}
.main .container .cartContainer .itemsContainer .cartItem .buttons .remove {
  margin-left: 60px;
  cursor: pointer;
}
.main .container .cartContainer .itemsContainer .cartItem .buttons .minus, .main .container .cartContainer .itemsContainer .cartItem .buttons .plus {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 30px;
  color: #fff;
  font-size: 23px;
  line-height: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main .container .orderContainer {
  min-height: 332px;
  width: 264px;
  color: #fff;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.main .container .orderContainer h3 {
  color: #fff;
}
.main .container .orderContainer .button {
  border: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 76px;
  width: 227px;
  height: 52px;
  background: #FFE0DB;
  border-radius: 32px;
  margin: 32px auto;
  transition: background-color 0.5s ease-out;
}
.main .container .orderContainer .button:hover {
  color: #FFE0DB;
  background: rgba(73, 74, 74, 0.3411764706);
  cursor: pointer;
}
.main .container .orderContainer .orderItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.main .container .orderContainer .orderItem .orderTitle {
  font-size: 12px;
  max-width: 168px;
  width: 100%;
  text-align: initial;
}/*# sourceMappingURL=Cart.module.css.map */