.main {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 800px;
    .formContainer{
        min-width: 50%;
        width: 100px;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        button{
            border: 0;
            width: 33%;
            height: 35px;
            color: #494A4A;
            border-radius: 32px;
            width: 90px;
            background: #FFE0DB;
            transition: background-color 0.5s ease-out;
            margin-bottom: 20px;
            &:hover{
                background: rgb(206, 183, 178);
                cursor: pointer;
            }
        }
        
           .form{
            display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                width: 100%;
                height: 100%; 
                input{
                    border: 0;
                    width: 256px;
                    height: 30px;
                    border: 0;
                    background: #B3A3A1;
                    border-radius: 8px;
                    color: #fff;
                    margin-bottom: 7px;
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.1px;
                }
        
            .signButton {
                border: 0;
                width: 33%;
                height: 30px;
                color: #494A4A;
                border-radius: 32px;
                color: #fff;
                width: 150px;
                background: #9f8a86;
                transition: background-color 0.5s ease-out;
                margin-bottom: 20px;
            } 
        }
        .googleButton {
            width: 100%;
            height: 100%;
            border: 0;
            width: 33%;
            height: 40px;
            color: #494A4A;
            border-radius: 32px;
            width: 150px;
            background: #a24d40;
            color: #fff;
            margin-top: 8%;
            transition: background-color 0.8s ease-out;
            margin-bottom: 20px;
            box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.12);
            &:hover{
                background: #622d25;
                box-shadow: 0px 4px 4px 2px rgba(11, 10, 10, 0.163);
            }
        }
        .line{
            margin-top: 8%;
            border-top: 1px solid rgba(140, 61, 61, 0.377);
            width: 130%;
        }

    }
    .profileContainer {
        max-width: 560px;
        //width: 100%;
        max-height: 580px;
        height: 100%;
        margin: 0 15em 0;

        .profileAvatar{
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: rgb(93, 44, 44);
            background: #B3A3A1;
            color: #fff;
            font-size: 40px;
            text-align: center;
            line-height: 70px;
            margin: 0 20px 30px 0;
        }
        .settings{
            list-style: none;
            text-decoration: none;
            letter-spacing: 0.1px;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            text-align: left;
            padding: 0;
            a{
                text-decoration: none;
                display: block;
                color: #B3A3A1;
                padding-bottom: 20px;
                &:hover{
                    color:#1f1a1a;
                }
                li{
                    list-style: none;
                }
            }
        }
        .avatarContainer{
            display: flex;
            justify-content: space-between;
            margin-top: 70px;
            align-items: center;
            .profileHeader {
            width: 560px;
            width: 100%;
            height: fit-content;
            display: flex;
            justify-content: center;
            flex-direction: column;
            p {
                text-align: left;
                span{
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 28px;
                    color: #494A4A;
                }
            }

        }
        .total {
            width: fit-content;
            height: 40px;
            margin: 40px 0 0 0;
        }
            .logout:hover{
            justify-self: end;
            }
        }
    }

    .stockContainer{
        //margin-left: 156px;
        h4{
        text-align: left;
        font-size: 22px;
        color: #494A4A;
    }

        .stock {
            display: flex;
            height: 100%;
            width: 100%;

            .stockItem {
                text-align: center;
                margin: 0 0 64px;
                width: 168px;
                height: 168px;
                background: #FFE0DB;
                border-radius: 24px;
                color: #494A4A;
                letter-spacing: 0.15px;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-around;
                
                &:not(:last-child){
                    margin-right: 19px;
                
                }

                p{
                    font-weight: 300;
                    font-size: 16px;
                    span{
                        font-weight: 600;
                        font-size: 24px;
                    }
                }
            }
        }
    }   
}