.main {
  max-width: 1440px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.main .homeContainer {
  width: 100%;
  margin: 0 auto;
  padding: auto 10px;
}
.main .homeContainer .promo {
  position: relative;
  background: #B3A3A1;
  max-width: 1440px;
  width: 100%;
  height: 800px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  display: flex;
}
.main .homeContainer .promo .promo1 {
  width: 322.6px;
  height: 324.03px;
  left: 23%;
  top: 15%;
  position: absolute;
}
.main .homeContainer .promo .promo2 {
  position: absolute;
  width: 436.58px;
  height: 436.58px;
  left: 7%;
  top: 30%;
  z-index: 5;
}
.main .homeContainer .promo .content {
  width: 34%;
  text-align: left;
  color: #FCFFF5;
  margin: 18% 5% 10% auto;
  z-index: 20;
}
.main .homeContainer .promo .content h3 {
  font-weight: 500;
  font-size: 106%;
  line-height: 110%;
  margin-bottom: 1.5rem;
}
.main .homeContainer .promo .content p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;
  margin-bottom: 10%;
}
.main .homeContainer .promo .content a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.main .homeContainer .promo .content a .button {
  border: 0;
  width: 33%;
  height: 52px;
  color: #494A4A;
  border-radius: 32px;
  width: 150px;
  background: #FFE0DB;
  transition: background-color 0.5s ease-out;
}
.main .homeContainer .promo .content a .button:hover {
  color: #FFE0DB;
  background: rgba(73, 74, 74, 0.3411764706);
  cursor: pointer;
}
.main .homeContainer .bestsellers {
  max-width: 1440px;
  width: 100%;
  max-height: 890px;
  height: 100%;
  background: #FFFFFF;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}
.main .homeContainer .bestsellers .bestsellers_article {
  position: relative;
  max-width: 354px;
  width: 100%;
  max-height: 510px;
  height: 100%;
  text-align: left;
  margin: 34px;
}
.main .homeContainer .bestsellers .bestsellers_article h4 {
  font-weight: 500;
  font-size: 178%;
  line-height: 40px;
  color: #B3A3A1;
  margin: 0 0 10%;
}
.main .homeContainer .bestsellers .bestsellers_article p {
  color: #494A4A;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}
.main .homeContainer .bestsellers .bestsellers_article .slider {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  max-width: 264px;
  width: 100%;
  height: 256px;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}
.main .homeContainer .bestsellers .bestsellers_article .slider h5 {
  text-align: center;
  font-size: 0.8em;
  line-height: 1em;
  letter-spacing: 0.15px;
  color: #494A4A;
}
.main .homeContainer .bestsellers .bestsellers_article .slider .slider_content {
  padding: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #494A4A;
  transition: 0.5s ease-out;
}
.main .homeContainer .bestsellers .bestsellers_article .slider .slider_content .itemImg {
  width: 35%;
}
.main .homeContainer .bestsellers .bestsellers_article .slider .slider_content img {
  width: 100%;
}
.main .homeContainer .bestsellers .bestsellers_article .slider a {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #B3A3A1;
  text-align: center;
  display: block;
  padding-top: 10px;
}
.main .homeContainer .bestsellers .bestsellers_article .slider a:hover {
  color: #765752;
}
.main .homeContainer .bestsellers .bestsellers_article .arrow {
  position: absolute;
  height: 23.9999828339px;
  width: 12.9616737366px;
  right: 2.2%;
  top: 69%;
}
.main .homeContainer .bestsellers .bestsellers_article .arrow img {
  width: 100%;
}
.main .homeContainer .bestsellers .bestsellersPhoto {
  position: relative;
  max-width: 744px;
  width: 100%;
  max-height: 515.75px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main .homeContainer .bestsellers .bestsellersPhoto img {
  width: 100%;
}
.main .homeContainer .bestsellers .bestsellersPhoto div {
  position: absolute;
  max-width: 16px;
  width: 100%;
  max-height: 16px;
  height: 100%;
  opacity: 0.8;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  background: #FFE0DB;
  transition: background-color 0.5s ease-out;
}
.main .homeContainer .bestsellers .bestsellersPhoto div:hover {
  background: #B3A3A1;
}
.main .homeContainer .bestsellers .bestsellersPhoto div:active {
  background: #9b7f7b;
}
.main .homeContainer .bestsellers .bestsellersPhoto .itemButton1 {
  left: 14%;
  top: 26%;
}
.main .homeContainer .bestsellers .bestsellersPhoto .itemButton2 {
  left: 32%;
  top: 28%;
}
.main .homeContainer .bestsellers .bestsellersPhoto .itemButton3 {
  left: 34%;
  top: 67%;
}
.main .homeContainer .bestsellers .bestsellersPhoto .itemButton4 {
  left: 19%;
  top: 74%;
}
.main .homeContainer .bestsellers .bestsellersPhoto .itemButton5 {
  left: 92%;
  top: 64%;
}
.main .homeContainer .articles {
  max-width: 1440px;
  width: 100%;
  max-height: 900px;
  height: 100%;
  position: relative;
  margin-top: 200px;
}
.main .homeContainer .articles .articleImg {
  max-width: 1440px;
}
.main .homeContainer .articles .articleBlock {
  z-index: 15;
  position: absolute;
  max-width: 708px;
  max-height: 280px;
  right: 0%;
  top: 30%;
  background: #B3A3A1;
  opacity: 0.95;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 24px 0px 0px 24px;
  width: 100%;
  height: 100%;
}
.main .homeContainer .articles .articleBlock .textBlock {
  padding: 8% 5%;
  max-width: 488px;
  max-height: 148px;
  text-align: left;
}
.main .homeContainer .articles .articleBlock .textBlock h4 {
  font-weight: 500;
  padding-bottom: 5%;
  font-size: 22px;
  line-height: 28px;
  color: #FFFFFF;
}
.main .homeContainer .articles .articleBlock .textBlock p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #FFFFFF;
  padding-bottom: 5%;
}
.main .homeContainer .articles .articleBlock .textBlock a {
  text-decoration: none;
  color: #fff;
}
.main .homeContainer .articles .articleBlock .textBlock a img {
  width: 32px;
  padding-left: 30px;
}

@media screen and (max-width: 750px) {
  .main .homeContainer .articles {
    margin-top: 200px;
  }
}/*# sourceMappingURL=Home.module.css.map */

@media screen and (max-width: 1152px) {
  .main .homeContainer .bestsellers {
    max-height: 1106px;
  }
  
  .articles{
      margin-top: 200px;
  }
}

@media screen and (max-width: 800px) {
  .main .homeContainer .promo .promo1 {
    left: -10%;
    top: -1%;
  }
  .main .homeContainer .promo .promo2 {
    left: -12%;
    top: 31%;
  }

  .main .homeContainer .promo .content{
    width: 48%;
  }
}

@media screen and (max-width: 768px) {
  .main .homeContainer .promo .promo1 {
    left: -10%;
    top: -1%;
  }
  .main .homeContainer .promo .promo2 {
    left: -12%;
    top: 31%;
  }

  .main .homeContainer .promo .content{
    width: 48%;
  }
}


@media screen and (max-width: 425px) {
  .main .homeContainer .promo .promo1 {
    left: 12%;
    top: 54%;
  }

  .main .homeContainer .promo .promo2 {
    display: none;
  }

  .main .homeContainer .promo .content {
    width: 82%;
    margin: 10% auto 10% auto;
  }

  .main .homeContainer .articles .articleBlock{
    max-height: 301px;
  }
}


@media screen and (max-width: 376px) {
  h3, h4, p{
    text-align: center;
  }

  p{
    text-align: center;
  }
  .main .homeContainer .promo .promo1 {
    left: 7%;
  }

  .main .homeContainer .promo .content {
    width: 82%;
    margin: 10% auto 10% auto;
  }

  .main .homeContainer .bestsellers {
    margin: 70px auto 0;
  }

  .main .homeContainer .bestsellers h4, p {
    text-align: center;
}

.main .homeContainer .bestsellers .bestsellers_article {
  min-width: 300px;
  padding-bottom: 10px;
}

.main .homeContainer .bestsellers .bestsellers_article  .slider {
  max-width: 243px;
  height: 260px;
}

.main .homeContainer .articles .articleBlock .textBlock {
  text-align: center;
}  

}





