.header {
    max-width: 1440px;
    width: 100%;
    max-height: 100%;
    //height: 100%;
   height: 140px;
    background: #B3A3A1;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: end;
    align-items: center;

    .nav {
        display: block;
        letter-spacing: 0.1px;
        color: #FCFFF5;
        //padding-top: 50px;
        padding-right: 122px;
        
        ul {
            display: flex;
            justify-content: end;
            width: 260px; //
            a{
            text-decoration: none;
            color: inherit;
            -webkit-transition: color 0.5s ease-out;
            -moz-transition: color 0.5s ease-out;
            -o-transition: color 0.5s ease-out;
            transition: color 0.5s ease-out;
            
            &:hover{
                color: #786b69;
            }
            &:active{
                color: #463c3b;
            }
            &:not(:last-child) {
                margin-right: 40px;
            }
            }
            li{
                list-style: none;
            } 
        }
    }
    .header_buttons{
        display: flex;
        min-width: 325px;
        max-height: 100%;
        padding-right: 156px;
        .icon{
            width: 24px;
            height: 24px;
            &:hover{
                cursor: pointer;
            }
           &:not(:last-child) {
            margin-right: 24px;  
            } 
        }
        form{
            margin-right: 24px; 
            input{
                border: 1px solid #463c3b;
                border-radius: 4px;
                padding: 1px;
                padding-left: 4px;
                
            }
            input:hover{
                background-color: #e8e1e0;
                text-decoration: none;
                color: inherit;
                -webkit-transition: background-color 0.3s ease-out;
                -moz-transition: background-color 0.3s ease-out;
                -o-transition: background-color 0.3s ease-out;
                transition: background-color 0.3s ease-out;
                
            }
            button{
                    border: none;
                    padding: 3px;
                    border-radius: 0 4px 4px 0;
                    background-color: #98817efe; 
                    color:#ffffff
                }
            button:hover{
                background-color: #7e6764f0;
                text-decoration: none;
                color: inherit;
                -webkit-transition: background-color 0.5s ease-out;
                -moz-transition: background-color 0.5s ease-out;
                -o-transition: background-color 0.5s ease-out;
                transition: background-color 0.5s ease-out;
                color:#ffffff;
                cursor: pointer;
            }
            button:active{
                border: none;
                color:#ffffff
            }
        }
        .search{
            background-color: blueviolet;
            width: 100%;
            height: 24px;
            

        }
    }
}