.footer{
    max-width: 1440px;
    width: 100%;
    max-height: 260px;
    height: 100%;
    background: #B3A3A1;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        text-decoration: none;
    }
    .container{
        max-width: fit-content;
        max-height: 210px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 48px 156px 40px;

        .footerBlock{
        max-width: 290px;
        text-align-last: left;
        width: max-content;
        height: fit-content;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.1px;
        color: #ffffffaf;
        position: relative;
        ul{
            li{
                list-style: none;
                &:hover{
                    color: #6e443e;
                    cursor: pointer;
                }
                &:not(:last-child){
                    margin-bottom: 8px;
                }
            }
        }
        a{
            text-decoration: none;
            color: inherit;
            
            
            img{
            position: absolute;
            bottom: 11%;
            margin-left: 24px;
            }
        }

        &:not(:last-child){
            margin-right: 164px;
        }
        
        .footerTitle{
            margin-bottom: 16px;
            color: #ffff;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.15px;
        }
    }
    }
}