    a{
        text-decoration: none;
    }
    
    .footer{
    max-width: 1440px;
    width: 100%;
    min-height: 260px;
    height: 100%;
    background: #B3A3A1;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    .container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: wrap;
        line-height: 1.5rem;
        .footerBlock{
        max-width: 290px;
        text-align: left;
        width: max-content;
        height: fit-content;
        font-weight: 400;
        font-size: 14px;
        text-align: left;
        letter-spacing: 0.1px;
        color: #ffffffaf;
        position: relative;
        &:not(:last-child){
            margin-right: 10%;
        }
        ul{
            li{
                list-style: none;
                &:hover{
                    color: #6e443e;
                    cursor: pointer;
                }
                &:not(:last-child){
                    margin-bottom: 8px;
                }
            }
        }
        a{
            text-decoration: none;
            color: inherit;
            img{
            position: absolute;
            bottom: 2%;
            margin-left: 24px;
            }
        }
        
        .footerTitle{
            margin-bottom: 16px;
            color: #ffff;
            font-weight: 600;
            font-size: 16px;
            text-align: left;
            letter-spacing: 0.15px;
        }
        }
    }
}

@media screen and (max-width: 1152px) {
    .footerBlock{
        max-width: 131px;
    }  
}
    

@media screen and (max-width: 800px) {
    .footer{
        .container{
            .footerBlock{
                &:not(:last-child){
                margin-right: 4%;
                }
            }
        }
    }

}

@media screen and (max-width: 768px) {
    .footer{
        .container{
            width: 92%;
            margin: 0 auto;
        }
    }

}

@media screen and (max-width: 750px) {
    .footer{
        .container{
            padding-bottom: 5%;
            .footerBlock{
            height: 100%;
                &:not(:last-child){
                    margin: 3% 3%;
                }
                &:last-child{
                    text-align: center;;
                
                .footerTitle{
                    text-align: center;

                }
            }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .footer{
        .container{
            padding-bottom: 5%;
            .footerBlock{
                text-align: center;;
                height: 100%;
                padding-bottom: 5%;
                .footerTitle{
                    text-align: center;

                }
            }
        }
    }
}


